* {
    --bg-color: #111;
    --text-color: #0d0;
    --box-color: #000;
}

body {
    margin: 0;
    font-family: montserrat;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}