/* ----- COMMON STYLES ----- */

* {
    --bg-color: #111;
    --text-color: #0d0;
    --box-color: #000;
}

body {
    margin: 0;
    font-family: montserrat;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    scrollbar-color: var(--text-color) transparent;
    scroll-behavior: smooth;
}

/* ----- HEADER ----- */

.header {
    background-color: var(--box-color);
    margin: 0;
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: -100%;
    z-index: 20;
    background-color: var(--text-color);
    animation: header-border-appear 1s cubic-bezier(.55,.09,.68,.53) both;
}

/* ----- ANIMATIONS ----- */

@keyframes header-border-appear {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

/* ----- DEFAULT BOX ----- */

.box {
    background-color: var(--box-color);
    width: clamp(360px, 80%, 900px);
    margin: 40px auto;
    color: var(--text-color);
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
    border-top: 3px solid var(--text-color);
    padding: 20px;
    animation: box-appear 1s both;
}

/* ----- MEDIA QUERIES ----- */


@media screen and (max-width: 410px) {
    .box {
        border-radius: 0;
    }
}